%div#grocery_list
  %h3 Grocery List

  %div#items
    - @list.list_items.each do |item|
      %div
        = item.name
        = item.qty
      
= render :partial => "/layouts/nutrition_table", :locals => {:record => @list}
