%div#grocery_list
  %h3 Grocery List

  %div#items
    - @list.list_items.each do |item|
      %div{:id => html_id(item)}
        = item.name
        = item.qty
        &bull;
        = remove_item_from_list_button(item)
      
= render :partial => "/layouts/nutrition_table", :locals => {:record => @list}
