%p
  %b Name:
  =h @recipe.name

%p
  %b Prep time:
  =h @recipe.prep_time

%p
  %b Cook time:
  =h @recipe.cook_time

%p
  %b Serves:
  =h @recipe.servings

%p
  %b Directions:
  =h @recipe.directions
  
%p
  %b Cost:
  =h float_to_price(@recipe.cost)

%p
  %b Price per serving:
  =h float_to_price(@recipe.price_per_serving)

%p
  %b # of servings from bulk goods:
  =h @recipe.servings_from_bulk

%p
  %b cost of bulk goods:
  =h float_to_price(@recipe.bulk_cost.to_s)

= link_to 'Edit', edit_recipe_path(@recipe)
|
= link_to 'Back', recipes_path
