// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
body.bp
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  +blueprint-grid
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
form.bp
  +blueprint-form
  
.strong
  font-weight: bold
.colspacer
  +colspacer
.errorExplanation
  +error
.fieldWithErrors
  border: 2px solid red

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col
  #footer
    +column(!blueprint_grid_columns)
  #sidebar
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    !sidebar_columns = floor(!blueprint_grid_columns / 3)
    // true means it's the last column in the row
    +column(!sidebar_columns, true)

    ul
      margin: 0
      padding-left: 0
      h3
        margin-top: 25px
        font-size: 16px
        padding-bottom: 10px
        border-bottom: 1px solid #ccc
    li
      list-style-type: none
    .links
      li
        margin-bottom: 5px
  #content
    // Two thirds of the grid columns, rounding up. With 24 cols, this is 16.
    !content_columns = ceil(2 * !blueprint_grid_columns / 3)
    +column(!content_columns)
    //+fullborder(#aaa, 3px)
    //:border-top none
    //+append(1)
    //+prepend(1)
    //+append-bottom(1)
    //+prepend-top(1)

.recipes
  #recipe_name
    font-size: 1em

  #photo
    +column(8)
    +prepend(1)
    height: 240px
    position: relative
    img
      border: 1px solid #000
    input
      position: absolute
      bottom: 10px
      right:  10px
    
  #details
    +column(7, true)
    strong
      +column(5)
      text-align: right
    input
      +span(2)
    
  #directions
    +column(14)
    +prepend(1)
    +append-bottom
    textarea
      +span(14)
      height: 200px

  #ingredients
    +append-bottom
    +prepend(1)
    +append(1)
    div
      +column(2)
    div.last
      +column(3, true)
    div.first
      +column(4)
      +append-bottom
      clear: both
    div.header
      font-weight: bold
    div.first_header
      font-weight: bold
      +prepend(4)

.recipes.edit, .recipes.update, .recipes.new, .recipes.create
  div#ingredients
    div.last
      +column(3, true)
    div.first
      +column(5)
      +append-bottom
      clear: both
      input
        +span(5)
    div.header
      font-weight: bold
    div.first_header
      font-weight: bold
      +prepend(0)
      +span(5)
  

  
    
    