// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
body.bp
  +blueprint-utilities
  +blueprint-debug
  +blueprint-interaction
  +blueprint-grid
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
  
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif
  
  a
    text-decoration: none
    
  a, a:hover, a:visited
    color: #3B5998
  
  a.no_decoration
    color: #000
  
  a:hover
    text-decoration: underline
  
form.bp
  +blueprint-form

.strong
  font-weight: bold
.colspacer
  +colspacer
.errorExplanation
  +error
.fieldWithErrors
  border: 2px solid red
.flash
  margin-top: 15px

.FB_login_button
  img
    position: relative
    top: 8px
#login_bar
  .FB_login_button
    img
      position: relative
      top: 5px
  
// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col
  #header
    margin-top: 15px
    h1
      small
        font-size: 14px
        
  #footer
    +column(!blueprint_grid_columns)
  #sidebar
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    !sidebar_columns = floor(!blueprint_grid_columns / 3 - 1)
    // true means it's the last column in the row
    +column(!sidebar_columns, true)

    ul
      margin: 0
      padding-left: 0
      h3
        margin-top: 25px
        font-size: 16px
        padding-bottom: 10px
        border-bottom: 1px solid #ccc
    li
      list-style-type: none
    .links
      li
        margin-bottom: 5px
  #content
    // Two thirds of the grid columns, rounding up. With 24 cols, this is 16.
    !content_columns = ceil(2 * !blueprint_grid_columns / 3 + 1)
    +column(!content_columns)
    //+fullborder(#aaa, 3px)
    //:border-top none
    //+append(1)
    //+prepend(1)
    //+append-bottom(1)
    //+prepend-top(1)

.recipes, .receipts
  img.thumb
    border: 1px solid #000
    width:  30px
    height: 30px
    
  #recipe_name
    font-size: 1em

  #photo
    +column(8)
    +prepend(1)
    height: 240px
    position: relative
    div
      margin: 10px 5px
      height: 30px
      .thumb
        float: left
      input
        position: relative
        top: 7px
        left: 5px
    img
      border: 1px solid #000
      
  #details
    float: left
    div
      +column(3)
      text-align: right
    input
      +span(2)
      
  #directions
    +column(14)
    +prepend(1)
    +append-bottom
    textarea
      +span(14)
      height: 200px

  #ingredients, #items
    +append-bottom
    +prepend(1)
    +append(1)
    div
      +column(2)
    div.last
      +column(3, true)
    div.first
      +column(4)
      +append-bottom
      clear: both
    div.header
      font-weight: bold
    div.first_header
      font-weight: bold
      +prepend(4)

.recipes.edit, .recipes.update, .recipes.new, .recipes.create, .receipts.edit, .receipts.update, .receipts.new, .receipts.create

  div#ingredients, div#items
    div.last
      +column(3, true)
    div.first
      +column(5)
      +append-bottom
      clear: both
      input
        +span(5)
    div.header
      font-weight: bold
    div.first_header
      font-weight: bold
      +prepend(0)
      +span(5)
  .item
    select
      width: 200px

.receipts
  div#items
    div.last
      +column(7, true)
  
.recipes.show
  #details
    +column(7, true)
    +prepend(9)
    div
      +column(3)
      text-align: right
    input
      +span(2)
  
  #photo
    div
      margin: 10px 0
    img.thumb
      padding: 0px
      margin: 0px
      margin-right: 5px

div#grocery_list
  +column(9)

div.nutrition_info
  +column(6)
  
  border: 1px solid black
  padding: 5px
  
  td, th
    text-align: right
    padding-right: 0px
  td
    padding: 1px
  td.left
    text-align: left
  
  .indent
    padding-left: 15px
  
  th
    border-bottom: 2px groove black
  
  h3
    margin-bottom: 2px
  

.foods.new, .foods.edit
  table
    margin: 0px
    width: 200px
    input
      width: 50px

.circle
  display: block
  width: 10px
  height: 10px
  background-color: #333
  -moz-border-radius: 5px
  -webkit-border-radius: 5px
  
.recipes.index .circle
  float: left
  margin: 10px

.nutrition_info .circle
  float: right
  margin: 5px

.link_button:hover, .link_button:active
  color: #3B5998
  text-decoration: underline

.link_button input
  border: none
  color: #3B5998
  background: transparent
  cursor: pointer
  padding: 0
  font-size: 100%
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif
  
.link_button input::-moz-focus-inner
  border: 0
  padding: 0

.add_to_list_form
  display: inline

.foods.index .pagination, .foods.search .pagination
  margin-bottom: 10px
  margin-top: 10px




    