setup:
  adapter: mysql
  username: root
  password: 
  database: usda_ndb

development: &DEFAULTS
  adapter: sqlite3
  database: db/usda_ndb.sqlite3

test: &TEST
  adapter: sqlite3
  database: db/usda_ndb.sqlite3

cucumber:
  <<: *TEST

production:
  adapter: mysql
  username: root
  password: 
  database: usda_ndb
  