%p
  %b Name:
  =h @item.name

%p
  %b Amount:
  =h @item.amount

%p
  %b Bulk price:
  =h @item.bulk_price

%p
  %b Bulk qty:
  =h @item.bulk_qty

%p
  %b Calories:
  =h @item.calories

%p
  %b Fat:
  =h @item.fat

%p
  %b Carbs:
  =h @item.carbs

%p
  %b Protein:
  =h @item.protein

%p
  %b Recipe:
  =h @item.recipe_id


= link_to 'Edit', edit_recipe_item_path(@item.recipe_id, @item)
|
= link_to 'Back', recipe_path(@item.recipe_id)
