<div id="sidebar">
  <ul>
    <li>
      <form id="search" action="http://www.google.com/search" method="get">
        <input type="hidden" name="hl" value="en" />
        <input type="text" id="search-text" name="q" value="site:rubyonrails.org " />
        <input type="submit" value="Search" />
      </form>
    </li>
  
    <li>
      <h3>Join the community</h3>
      <ul class="links">
        <li><a href="http://www.rubyonrails.org/">Ruby on Rails</a></li>
        <li><a href="http://weblog.rubyonrails.org/">Official weblog</a></li>
        <li><a href="http://wiki.rubyonrails.org/">Wiki</a></li>
      </ul>
    </li>
    
    <li>
      <h3>Browse the documentation</h3>
      <ul class="links">
        <li><a href="http://api.rubyonrails.org/">Rails API</a></li>
        <li><a href="http://stdlib.rubyonrails.org/">Ruby standard library</a></li>
        <li><a href="http://corelib.rubyonrails.org/">Ruby core</a></li>
      </ul>
    </li>
  </ul>
</div>
